body{
    margin: 0;
    background: url(img/Fon.jpeg) top left no-repeat;
}

a, button{
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}

/*Шапка страницы*/
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.logoImg{
    height: 68px;
    width: 136px;
}

div.logo{
    margin-left: 12%;
}

div.phone{
    margin-right: 12%;
}

.headerMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.headerMenu div{
    margin-left: 6%;
    margin-right: 6%;
}

.headerMenu a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #333333;
}

.phoneNumer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}

a.phoneText {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    float: right;
    text-decoration-line: underline;

    color: #1F9F8E;
}

/*Первый блок с названием*/
.nameCompany{
    position: absolute;
    margin-left: 12%;
}
.titleBlock1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    text-transform: uppercase;

    color: #333333;
}
.title2Block1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #333333;
    margin-top: -10%;
}

/*блок с cashback*/

.cashbackButton2{
    display: flex;
    flex-direction: row;

    width: 377px;
    height: 110px;

    border: 2px solid #F6F6F6;
    border-radius: 30px;
}

.cashbackButton{

    width: 110px;
    height: 110px;
    left: -0.5%;
    top: -0.5%;

    background: linear-gradient(133.94deg, #D0D0D0 0%, #F6F6F6 98.22%);
    border: 2px solid #F6F6F6;
    box-shadow: 0px 20px 25px -15px rgba(174, 174, 174, 0.64);
    border-radius: 30px;
}

p.cashback{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #1F9F8E;
}

p.cashbackNumber{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;

    color: #1F9F8E;
    margin-top: -6%;
}

.cashbackButtonText{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #333333;
}
.cashbackCard{
    font-family: 'Raleway';

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #333333;
}

.consultationButton{
    position: relative;
    margin-top: 6%;
}
.consult{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 1px 0px #1B8577;
    background: linear-gradient(180deg, #1F9F8E 0%, #24B6A2 100%);
    box-shadow: 0px 30px 35px -30px #1F9F8E, 0px 3px 0px #1B8577, inset 0px -2px 8px rgba(151, 249, 236, 0.25);
    border-radius: 5px;
    width: 348px;
    height: 75px;
}

.secondBlock{
    width: 100%;
    height: 1207px;

}
