*{
    margin: 0;
    padding: 0;
}
h1{        
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;

    color: #000000;
}
h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 122%;

    color: #000000;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 107%;

    color: #000000;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;

    color: #000000;
}
html, body{
    height: 100%;
}
body{
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper__content{
    flex: 1 0 auto;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F9F3EC;
    width: 1920px;
    margin: 0 auto;
}
