@import url(./blocks/base.css);
@import url(./blocks/header.css);
@import url(./blocks/slider.css);
@import url(./blocks/main-nav.css);
@import url(./blocks/disposition.css);
@import url(./blocks/lid.css);
@import url(./blocks/advantages.css);
@import url(./blocks/cover-body.css);
@import url(./blocks/projects.css);
@import url(./blocks/uikit.css);
@import url(./blocks/action.css);
@import url(./blocks/map.css);
@import url(./blocks/catalog.css);
@import url(./blocks/cleaning.css);
@import url(./blocks/notfound.css);
@import url(./blocks/footer.css);