/* стили для корневого элемента слайдера */
.itcss {
    position: relative;
    max-width: 1290px;
    max-height: 678px;
    margin-top: 150px;
}
  
  /* стили для wrapper */
.itcss__wrapper {
    position: relative;
    overflow: hidden;
}
  
  /* стили для элемента, в котором непосредственно расположены элементы (слайды) */
  .itcss__items {
    display: flex;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  /* стили для элементов */
  .itcss__item {
    position: relative;
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    width: 410px;
  }
  
  /* кнопки Prev и Next */
  .itcss__btn {
    position: absolute;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 4rem;
    color: #fff;
    background: #1F9F8E;
    border: none;
    outline: none;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
  }
  
  .itcss__btn_hide {
    display: none;
  }
  
  .itcss__btn:hover,
  .itcss__btn:focus {
    color: #fff;
    text-decoration: none;
    border: none;
    opacity: 0.7;
  }
  
  .itcss__btn_prev {
    left: -55px;
  }
  
  .itcss__btn_next {
    right: -55px;
  }
  
  .itcss__btn::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itcss__btn_prev::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .itcss__btn_next::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  /* Индикаторы */
  .itcss__indicators {
    position: absolute;
    right: 0;
    bottom: -10%;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
    user-select: none;
  }
  
  .itcss__indicator {
    flex: 0 1 auto;
    width: 30px;
    height: 2px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #1F9F8E;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
  }
  
  .itcss__indicator_active {
    background-color: #000000;
  }
  
  /* класс для отключения transition */
  .transition-none {
    transition: none;
  }